

div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;

}

.div-menu {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 0;
}
.div-menu-footbar{
    position: relative;
}
.div-footbar{
    padding-bottom: 2%;
}
.div-global {
    font-size: 100%;
    display: flex;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: solid; 
    border-color: transparent;
    

    
}

.div-log {
    padding-right: auto;
    align-items: center;
}

.div-separete {
    position: relative;
    padding-left: 0;
    padding-right: 100%;
    border-bottom: 2px solid;

    border-color: #b8b9ba ;
    margin-top: 10px;
    margin-bottom: 2px;
}
