{% extends "html/account/FormTemplate.html" %}


{% block title %}
    <title>
        Log in
    </title>
{%endblock%}



{% block bodyForm %}
    {% csrf_token %}
    <div class="div-log">
        {{form.as_div}}
    </div>
    <div class="div-log">
        <button class="buttonLog" type="submit" href="/home">
            <div class="LogInButton"> 
                Log in
            </div>
        </button>
    </div>

{% endblock %}


{% block footer %}
    <a href="{% url "mUser:Register"%}" class="a-footer">
        <span id="subspaninput">
                Register
        </span>
    </a>
    |
    <span id="subspaninput"> Forum GAMES </span>
{% endblock %}

{%block LOGO%}
    <span id="subspaninput"> Forum GAMES - Accesso </span>
{%endblock%}