{% extends "html/account/FormTemplate.html" %}

{%block newStyleSheet%}

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/ComputerStyle.css' %}">

{%endblock%}


{% block bodyForm %}
        {% csrf_token %}

        {{form.as_div}}

        <div class="div-separete"></div>
        <div class="div-log">
            <button class="buttonLog" type="submit"  href="/register">
                <div> Create </div>
            </button> 
        </div>

{% endblock %}

{%block footbar%}
    {%if user.is_authenticated%}
        <a href="{% url 'mUser:Logout'%}" class="a-footer">
            <span id="subspaninput"> 
                Esci
            </span>
        </a>
        |
        <span id="subspaninput"> Forum GAMES </span>
        
    {%else%}
        <footbar>
            <a href="{% url 'mUser:Login'%}" class="a-footer">
                <span id="subspaninput"> 
                    Accedi
                </span>
            </a>
            |
            <span id="subspaninput"> 
                <a href="account/register" class="a-footer"> Registrazione </a>
            </span>
        </footbar>
    {%endif%}
{%endblock%}

{%block title%}
    <title>
        Create computer
    </title>
{%endblock%}

{%block LOGO%}
    <span id="subspaninput"> Forum GAMES - Inserimento configurazione </span>
{%endblock%}