{%extends "html/GeneralTemplate.html"%}

{%block content%}
    {%block bodyBlog%}
    {%endblock%}
{%endblock%}

{%block footbar%}
    {%if user.is_authenticated%}
    
        <footbar>
            <a href="account/logout" class="a-footer"> logout </a>
        </footbar>
    {%else%}
        <footbar>
            <a href="{% url 'mUser:Login'%}" class="a-footer">
                <span id="subspaninput"> 
                    Login 
                </span>
            </a>
            |
            <span id="subspaninput"> 
                <a href="account/register" class="a-footer"> Register </a>
            </span>
        </footbar>
    {%endif%}
{%endblock%}

{%block title%}
    <title>
        Home
    </title>
{%endblock%}

{%block LOGO%}
    <span id="subspaninput"> Forum GAMES </span>
{%endblock%}