<!DOCTYPE html>
<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{% static "css/GeneralStyle.css" %}">
    </head>
    <body>
        <div class="div-menu">
            <h3> Forum GAMES </h3>
            <div class="div-global">
                <main>
                    <article>
                            
                        {% block contentRegLog %}
                        {% endblock %} 

                    </article>
                </main>
            </div>
        </div>
        <div class="div-menu-footbar">

            <div class="div-footbar">
    
                <footbar>
                    
                        {% block footbarRegLog %}
                        {% endblock %}
                    
                </footbar>
            </div>
        </div>  
    </body>
</html>