{%extends "html/HomeTemplate.html"%}

{%block newStyleSheet%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/ConfigurazioneStyle.css' %}">
{%endblock%}

{%block tuaConfigurazione%}
    {%if user.is_authenticated %}
        <div class="div-contenitoreMenu">

            <div class="div-contenitoreMenuInterno">
                <section>
                            <div class="div-sinistra">
                                
                                <div class="div-configurazioneSinistra">
                                    <div class="div-log">
                                        <h5> Le configurazioni di {{user.username}} </h5>
                                    </div>
                            
                                    <div class="config">
                                        {%for i in elenco%}
                                                
                                    
                                            {% if i.url == None %}
                                                <div class="div-log">
                                                    <span id="subspaninput">{{i}}</span>
                                                </div>
                                            {%else%}
                                                <div class="div-log">
                                                    <img src="{{i.url}}" width="90%" height="80%"/>
                                                </div>
                                            {%endif%}
                                            <div class="div-separete"></div>

                                        {%endfor%} 
                                            
                                        

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                </section>
            </div>
        </div>
        
    {%endif%}
{%endblock%}

{%block bodyBlog%}
    {%if user.is_authenticated %}
        <article>
                    
            <div class="div-InternalMenu">
                <div class="div-log"> 
                    {%csrf_token%}
                    {{form.as_div}}
                    <div class="div-log">
                        <button class="buttonLog" type="submit"  href="{%url "Post:Insert"%}">
                            <div>Inserisci</div>
                        </button> 
                    </div> 
                </div>
            
            <div class="div-separete"></div>
        </article>
    {%endif%}
{%endblock%}


{%block inserimentoPost%}
{%endblock%}