{% extends "html/account/FormTemplate.html" %}

{% block title %}
    <title>
        Registrazione
    </title>
{%endblock%}



{% block bodyForm %}
        {% csrf_token %}

        {{form.as_div}}

        <div class="div-separete"></div>
        <div class="div-log">
            <button class="buttonLog" type="submit"  href="/register">
                <div> Register </div>
            </button> 
        </div>

{% endblock %}

{% block footer %}
    <a href="{% url "mUser:Login"%}" class="a-footer">
        <span id="subspaninput">
                Log In
        </span>
    </a>
{% endblock %}

{%block LOGO%}
    <span id="subspaninput"> Forum GAMES - Registrazione </span>
{%endblock%}